<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Publishers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let article of articleList" size="12" size-md="6" size-lg="4">
        <ion-card  *ngIf="!showPageLoader">
          <ion-img src="{{article.urlToImage}}"></ion-img>
          <ion-card-header>
            <ion-card-title>
              {{ article.title }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="secondary" (click)="getNewsDetailPage(article)">View</ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="secondary" fill="outline" (click)="removeArticle(article.url)">Remove</ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngIf='!articleList.length && !showPageLoader'>
        <ion-card>
          <ion-card-header>
          
              Currently No Saved Articles!
            
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
